body{
    background-color:white;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
h1{
    color: darkblue;
    text-align: center;
}
textarea{
    resize: none;
    height:200px;
    background-color: gold;
    width:200px;
    border:none;
    border-radius:3px;
}
.pic{
    height:100px;
    width: 200px;
}
input{
    width: 200px;
    background-color: gold;
    height: 35px;
    border-radius: 3px;
    border:none;
}
.img1{
    height:20px;
    width:20px;
}
.a{
    color:white;
    text-decoration: none;
}
select{
    width: 200px;
    border:none;
    background-color: gold;
    height: 35px;
    color:blue;
    border-radius: 3px; 
}
::placeholder{
    text-align: center;
}
button{
    width:150px;
    height: 30px;
    color:white;
    background-color: blue;
    border: none;
    border-radius:5px;
}